/* María José Ospina, proyecto de practica / regalo a mi prima V. */
body {
    font-family: 'Bricolage Grotesque';
    margin: 0;
    padding: 0;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.brand p {
    font-size: 20px;
    margin: 0; 
}

.logo {
    width: 80px;
    height: auto;
    margin-left: 16px;
}

.lista a.activo {
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}

.lista {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin:0;
    margin-right: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b3b8c;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    padding: 10px 40px; 
    box-sizing: border-box;
}

.lista a {
    text-decoration: none;
    color: white;
}

.titular {
    text-align: center;
    padding-top: 80px; 
    padding-bottom: 0; 
    background-color: #f5effa;
    min-height: 100vh;
    height: auto; 
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0;
}

.titular p {
    font-size: 16px;
    max-width: 1000px;
    margin: 20px auto;
    line-height: 1.6;
}

.bts {
    width: 100%;          
    max-width: 100%;      
    height: auto;         
    display: block;      
    margin-top: 20px;
}

.titular h1 {
    font-size: 60px;
    margin: 0;
}

.introduccion {
    background-color: rgba(255, 255, 255, 0.70);
    max-width: 920px;
    width: 90%;
    margin: 0 auto;
    padding: 40px 40px 0 40px; 
    backdrop-filter: blur(2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.ballena {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 90px;
    height: auto;
    z-index: 100;
    filter: drop-shadow(0px 4px 10px rgba(91, 59, 140, 0.3));
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.ballena.flotando {
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/***** SOBRE BTS *****/
#sobre-bts {
    background-color: #f5effa;
    padding: 0 0 80px 0;
}

.sobre-contenedor {
   max-width: 920px;       
    width: 90%;            
    margin: 0 auto;         
    box-sizing: border-box;
}

.sobre-texto {
    background-color: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(2px);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    width: 100%;
}

.sobre-texto h2 {
    text-align: center;
    font-size: 40px;
    color: #5b3b8c;
    margin-top: 0;
}

.sobre-texto p {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 15px;
}

.gif-bts {
    width: 100%;
    max-width: 500px; 
    height: auto; 
    display: block; 
    margin: 25px auto 0 auto; 
    border-radius: 10px;
}